/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face{
	font-family: 'koenigseggHeadings';
	src: url('../assets/fonts/koenigseggheadings-webfont.woff2') format('woff2');
}

@font-face{
	font-family: 'baselGrotesk';
	src: url('../assets/fonts/BaseGrotesk-Regular.woff2') format('woff2');
}

@font-face{
	font-family: 'gustavo';
	src: url('../assets/fonts/gustavo_trial-medium-bf65f254e1e1a08-webfont.woff2') format('woff2');
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#000000;
	--color-background:#FFFFFF;
	--color-secundairy:#687c7b;
	--color-gray: #999999; 
	--color-arrow:#eee;
	--color-border: #e7b200;
	--header-height: 7em;
	--hamburger-height: 4em;
	--bun-height: .15em;

	color-scheme: light dark;

}



/****************/
/* Algemene STYLING */
/****************/


/* visually hidden van: https://www.a11yproject.com/posts/how-to-hide-content/ */
h1, section:nth-of-type(2) > h2 {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}


h2, h3, h4, h5, h6 {
	font-family: "gustavo";
}

p, a, button {
	font-family: "baselGrotesk";
	font-size: .9em;
}

h2{
	font-size: 2.25em;
}

h3{
	font-size: 0.875em;
}


/* ************** */
/* header styling */
/* ************** */

header{
	position: fixed;
	top: 0;
	height: var(--header-height);
	width: 100%;
    z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-secundairy);
	padding: 0 2em 0 2em;
}

header form{
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: center;
	left: 50%;
	color: var(--color-background);
}
header button span{
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

#menu-button{
	position: fixed;
	right: 2em;
	width: 4em;
	height: var(--hamburger-height);
	z-index: 1100;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	order: 2;

	border: none;
	cursor: pointer;
}

#menu-button::before,
#menu-button::after{
	content: '';
	position: relative;
	width: 2em;
	height: var(--bun-height);
	background-color: var(--color-background);
	transition: transform 300ms ease, opacity 300ms ease;
}

#menu-button::before{
	top: -.15em;
	transform: translateY(0);
}

#menu-button::after{
	top: .15em;
	transform: translateY(0);
}


#menu-button[aria-expanded="true"]::before {
    transform: rotate(45deg) translateY(.15em);
    top: 0;
}

#menu-button[aria-expanded="true"]::after {
    transform: rotate(-45deg) translateY(-.15em);
    top: 0;
}

#menu-button[aria-expanded="true"] + nav{
	transform: translateX(0);
	overflow: scroll;
}

header nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 8em 2em 3em 2em;

	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	gap: 1em;
	align-items: start;

	background: var(--color-secundairy);
	transform: translatex(-100%);
	transition: transform 300ms ease-in-out;
    z-index: 1000;
}

nav[hidden]{
	display: none;
}

header nav ul{
    list-style: none;
	padding: 0;
	margin: 0;
}

header nav ul:nth-of-type(1){
	grid-area: 1 / 1 / 2 / 7;
	text-transform: uppercase;
	font-size: 3em;
	line-height: .8em;
}

header nav ul:nth-of-type(2){
	column-count: 2;
	grid-area: 2 / 1 / 3 / 7;
	font-size: 1em;
	line-height: 2.5em;
}

header nav ul li a{
	color: var(--color-background);
	text-decoration: none;
}

header > a svg{
	height: 2.8em;
	order: -1;
}


/* ************** */
/* Footer styling */
/* ************** */

footer{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	gap: 1em;
	padding: 3em 0em 2.5em 0em;
	margin: 0 2em 0 2em;
	color: var(--color-text);
	background-color: var(--color-background);
	font-size: 1em;
	border-top: 2px solid var(--color-gray);
}

footer a{
	font-size: .7em;
}

footer > a svg{
	height: 5em;
	grid-area: 1 / 1 / 2/ 2;
}

footer ul{
	list-style: none;
	line-height: 1.5;
	font-size: 1.5em;
}

footer ul li a{
	/* font-size: .7em; */
	text-decoration: none;
	color: var(--color-text);
}

footer ul a svg{
	height: 1.5em;
	fill: var(--color-text);
	padding-right: 1em;
}

footer ul:nth-of-type(1){
	grid-area: 1 / 3 / 1 / 5;
}

footer ul:nth-of-type(2){
	grid-area:  1 / 5 / 1 / 7;
	font-size: 1.2em;
}

footer ul:nth-of-type(3){
	display: inline-flex;
	grid-area: 2 / 1 / 2 / 7;
	padding-bottom: 1em;
	border-bottom: 2px solid var(--color-gray);
}


footer p{
	font-size: .5em;
	grid-area: 3 / 1 / 3 / 7;
	padding-bottom: 1em;
	justify-content: center;
}

footer ul:nth-of-type(4){
	font-size: .7em;
	display: flex;
	justify-content: space-between;
	margin-right: 6em;
	grid-area: 4 / 1 / 4 / 7;
}


/* **************** */
/* buttons styling */
/* **************** */
button{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 10px ;
}

button span{
	position: relative;
	z-index: 2;
	color: var(--color-background);
} 


button .svg-arrow{
	position: relative;
	z-index: 2;
	height: 1.5em;
	padding-left: 10px;
	stroke: var(--color-background);
    animation: none;
}

button:hover .svg-arrow{
	animation: bounce-back 300ms ease-out;
}


button .svg-background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	fill:none;
}

/* **************** */
/* sections styling */
/* **************** */

main section{
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}


/* the first section */
/*///////////////////*/
main > section:nth-of-type(1){
	box-shadow: inset 0px -400px 200px -200px var(--color-text);
}

main > section:nth-of-type(1) h2{
	position:absolute;
	top: 2.5em;
	left: .5em;
	color: var(--color-background);
	font-size: 5em;
	text-transform: uppercase;
}

main > section:nth-of-type(1) a{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	right: 10%;
	bottom: 22%;
	color: var(--color-background);
	text-decoration: none;
}

section:nth-of-type(1) a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -6px; 
    width: 0; 
    height: 2px; 
    background: var(--color-border); 
    transition: width 300ms ease-out; 
}


section:nth-of-type(1) a:hover::after {
    width: 100%; 
}

main > section:nth-of-type(1) svg{
	height: 1em;
	padding-left: 10px;
	stroke: var(--color-arrow);
}

main > section:nth-of-type(1) a:hover svg {
    animation: bounce-back 300ms ease-out;
}

main > section:nth-of-type(1) img{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	object-fit: cover;
}


/* the second section */
/*///////////////////*/
section:nth-of-type(2){
	box-shadow: inset 0px -400px 200px -200px var(--color-text), 
	inset 0px 100px 70px -5px var(--color-text);
}

section:nth-of-type(2) section{
	margin-top: -4.5em;
}
section:nth-of-type(2) div {
	position: absolute;
	top: 0;
	margin: 7em 2em 0 2em;
}
Section:nth-of-type(2) button{
	margin-left: 100px;
}

section:nth-of-type(2) h2{
	color: var(--color-background);
	font-weight: 400;
	text-transform: uppercase;
}

section:nth-of-type(2) img{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	object-fit: cover;
}

section:nth-of-type(2) nav{
	position: relative;
	width: 100%;
	margin-top: 2em;
    padding: 0 2em 0 2em;
	cursor: pointer;
	z-index: 2;
}

section:nth-of-type(2) ul{
	display: flex;
	align-items: flex-start;
	margin: 0;
    padding: 0 0 1em 0;
	border-bottom: 1px solid var(--color-gray);
	list-style: none;
	gap: 2em;
}

section:nth-of-type(2) ul li{
	position: relative;
	margin: 0;
	padding:0;
}

section:nth-of-type(2) nav ul li a{
	text-decoration: none;
	color: var(--color-gray);
}

section:nth-of-type(2) nav ul li a:hover{
	color: var(--color-background);
}

section:nth-of-type(2) nav ul li a.active{
	color: var(--color-background);
	border-bottom: 1px solid var(--color-background);
	padding-bottom: 1.175em;
}

[data-tab-content] {
	display: none;
} 

[data-tab-content].active {
	display: block;
}

/******
poging met :has en ::after om de border bottom van de nav tabs te animeren
******/
/* main section:nth-of-type(2) nav ul li:has(a.active)::after{
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	top: 0;
	height: 10px;
	background-color: var(--color-background);
	z-index: 10;
} */

section:nth-of-type(2) article::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	pointer-events:none ;
}


section:nth-of-type(2) article a{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	left: 2em;
	bottom: 10%;
	color: var(--color-background);
	text-decoration: none;
	animation: none;
}


section:nth-of-type(2) article a svg{
	height: 1em;
	padding-left: 10px;
	stroke: var(--color-arrow);
	animation: none;
}

section:nth-of-type(2) article a:hover svg{
	animation: bounce-back 300ms ease-out;
}

section:nth-of-type(2) article a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -6px; 
    width: 0; 
    height: 2px; 
    background: var(--color-border); 
    transition: width 300ms ease-out; 
}


section:nth-of-type(2) article a:hover::after {
    width: 100%; 
}

/******
 poging met keyframes om border bottom te animeren ;(
 *****/

/* section:nth-of-type(2) article a:hover{
	animation: border-bottom 300ms ease-out;
}
@keyframes border-bottom{
	0%{
		content:"";
		border-bottom: 2px solid white ;
		width: 0;
	}
	50%{
		content:"";
		border-bottom: 2px solid white ;
		width: 50%;
	}
	100%{
		content:"";
		border-bottom: 2px solid white ;
		width: 100%;
	}
} */

/******
poging met transition een border bottom te animeren voor de link
(dit heeft niet gewerkt door het positionering van de link) 
******/

/* section:nth-of-type(2) article a::after{
	content:"";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: var(--color-text);
	transition: width 300ms ease-out;
}

section:nth-of-type(2) article a:hover::after{
	width: 100%;
} */

/* the third section */
/*///////////////////*/
section:nth-of-type(3){
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 1em;

	background-color: var(--color-text);
	color: var(--color-background);
	height: auto;
	padding-bottom: 3em;
	padding-left: 2em;
	overflow: auto;
}

section:nth-of-type(3) h2{
	text-transform: uppercase;
	align-self: start;
	margin-bottom: 2em;
}

section:nth-of-type(3) h3{
	text-transform: uppercase;
	align-self: start;
	color: var(--color-background);
	padding-top: 6em;
	margin: 0 0 6em;
	order: -1;

}

section:nth-of-type(3) img{
	width: 100%;
	padding: 0;
	margin: 0;
	padding-right: 0;
	padding-left: 4em;
	align-self: end;
}

section:nth-of-type(3) p{
	padding-right: 2em;
	margin: 1em 0 2em;
}

section:nth-of-type(3) button{
	align-self: start;
	justify-self: start;
}


/* the fourth section */
section:nth-of-type(4){
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 1em;

	background-color: var(--color-background);
	color: var(--color-text);
	height: auto;
	padding-left: 2em;
	padding-bottom: 3em;
	overflow: hidden;
}


section:nth-of-type(4) h2{
	text-transform: uppercase;
	align-self: start;
	padding-right: 2em;
	margin-bottom: 2em;
}

section:nth-of-type(4) h3{
	text-transform: uppercase;
	align-self: start;
	color: var(--color-text);
	padding-top: 6em;
	margin: 0 0 5em;
	order: -1;
}

section:nth-of-type(4) img{
	width: 100%;
	padding: 0;
	margin: 0;
	padding-right: 0;
	padding-right: 3em;
	align-self: start;
}

section:nth-of-type(4) p{
	padding-right: 2em;
	margin: 1em 0 2em;
}

section:nth-of-type(4) button{
	align-self: start;
	justify-self: start;
}

section:nth-of-type(4) button span,
section:nth-of-type(4) .svg-arrow {
	color: var(--color-text);
	stroke: var(--color-text);
}



/* the fifth section */
/*///////////////////*/
section:nth-of-type(5){
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 1em;

	background-color: var(--color-background);
	color: var(--color-text);
	height: auto;
	padding-bottom: 3em;
	padding-left: 2em;
	padding-right: 2em;
	overflow: hidden;
}

section:nth-of-type(5) h2{
	text-transform: uppercase;
	align-self: start;
	margin-bottom: 2em;
}

section:nth-of-type(5) h3{
	text-transform: uppercase;
	align-self: start;
	color: var(--color-text);
	padding-top: 6em;
	margin: 0 0 6em;
	order: -1;

}

section:nth-of-type(5) img{
	width: 100%;
	padding: 0;
	margin: 0;
	padding-right: 0;
	padding-left: 4em;
	align-self: end;
}

section:nth-of-type(5) p{
	margin: 1em 0 2em;
}

section:nth-of-type(5) button{
	align-self: start;
	justify-self: start;
}

section:nth-of-type(5) button span,
section:nth-of-type(5) .svg-arrow {
	color: var(--color-text);
	stroke: var(--color-text);
}


@keyframes bounce-back{
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	50%{
		transform: translateX(-15px);
		opacity: 0;
	}
	100%{
		transform: translateX(0);
		opacity: 1;
	}
}


/* **************/
/* Media querys */
/* **************/
@media (min-width: 768px){
	
	p, a, button {
		
		font-size: 1em;
	}

	header a{
		font-size: .8em;
	}
	section:nth-of-type(2) nav ul li a.active {
		padding-bottom: 1em;
	} 

	section:nth-of-type(3) img {
		padding-left: 8em;
	}
	
	section:nth-of-type(4) img {
		padding-right: 9em;
	}

	section:nth-of-type(5) img {
		padding-left: 7em;
	}

	footer ul:nth-of-type(4) {
		margin-right: 16em;
	}
}


@media (min-width: 1024px){

	main > section:nth-of-type(1){
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		gap: 1em;
		padding: 0 5em;
	}

	main > section:nth-of-type(1) h2{
		grid-area: 1 / 1 / 2 / 13;
        padding: 0;
        margin: 0;
        top: 2.5em;
        left: 0;
	}

	main > section:nth-of-type(1) a {
        grid-area: 1 / 6 / 2 / 13;
        right: 0;
        top: 13em;
        height: max-content;
	} 



	main > section:nth-of-type(2){
		display: grid;
		grid-template-columns: repeat(14, 1fr);
		grid-template-rows: auto;
		gap: 1em;
		/* margin: 0 5em; */
	}


	section:nth-of-type(2) nav{
		grid-area: 1 / 3 / 2 / 13;
		padding: 0;
	}

	section:nth-of-type(2) section{
		grid-area: 1 / 1 / 2 / 15 ;
		height: auto;
	}
	div.remove{
		display: block;
	}
	section:nth-of-type(2) div {
		display: contents;
	} 
	section:nth-of-type(2) h2 {
        position: absolute;
        left: 4em;
        top: 6em;
	}

	article	button{
		position: absolute;
		right: 9em;
		top: 16em;
	}

	section:nth-of-type(2) article a{
		position: absolute;
        left: 9em;
	}



	section:nth-of-type(3), 
	section:nth-of-type(4),
	section:nth-of-type(5){
		display: grid;
		grid-template-columns: repeat(14, 1fr);
		grid-template-rows: auto;
		gap: 1em;
		padding: 6em 0 6em ;
	}
	section:nth-of-type(3) h3 {
        grid-area: 1 / 3 / 2 / 5;
        padding: 0;
	}

	section:nth-of-type(3) h2{
		grid-area: 1 / 6 / 2 / 14;
	}

	section:nth-of-type(3) p{
		grid-area: 2 / 3 /3 / 7;
		margin: 0;
		padding: 0;
	}

	section:nth-of-type(3) button{
		grid-area: 3 / 3 / 4 / 7 ;
	}

	section:nth-of-type(3) img{
		grid-area: 2/ 7 / 4 / 15;
		padding: 0;
	}



	section:nth-of-type(4){
		border-bottom: 1px solid var(--color-gray);
	}

	section:nth-of-type(4) h2{
		grid-area: 2 / 8 / 3 / 12 ;
		padding: 0;
		margin: 0;
	}

	section:nth-of-type(4) h3{
		grid-area: 1 / 12 / 2 / 15;
		padding: 0;
	}

	section:nth-of-type(4) img{
		grid-area: 1 / 3 / 5 / 7;
		padding: 0;
	}

	section:nth-of-type(4) p{
		grid-area: 3 / 8 / 4 / 13;
		padding: 0;
	}

	section:nth-of-type(4) button{
		grid-area: 4 / 8 / 5 / end;
	}



	section:nth-of-type(5) h2{
		grid-area: 2 / 3 / 3 / 8;
		margin: 0;
	}

	section:nth-of-type(5) h3{
		grid-area: 1 / 3 / 2 / 5;
		padding: 0;
	}

	section:nth-of-type(5) p{
		grid-area: 3 / 4 / 4 / 8;
	}

	section:nth-of-type(5) img{
		grid-area: 1 / 9 / 5 / 13;
		padding: 0;
	}
	section:nth-of-type(5) button{
		grid-area: 4 / 4 / 5 / end;
	}

	footer{
		margin: 0 9em;
	}

	footer ul:nth-of-type(4){
		margin: 0 0 0 10em;
        grid-area: 3 / 4 / 4 / end;
		justify-content: space-around;
	}
}


@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #23272A;
		--color-background: #D3D3D3;
		--color-secundairy: #38444c;
		--color-gray: #555555;
		--color-arrow: #444444;
		--color-border: #ffc400;
	}

	section:nth-of-type(4),
	section:nth-of-type(5), 
	html{
		color: var(--color-background);
		background-color: var(--color-text);
	}

	section:nth-of-type(4) h3,
	section:nth-of-type(5) h3{
		color: var(--color-background);
	}
	section:nth-of-type(4) button span,
	section:nth-of-type(5) button span{
		color: var(--color-background);
		stroke: var(--color-background);
	}

	main > section:nth-of-type(1) svg,
	section:nth-of-type(4) .svg-arrow,
	section:nth-of-type(5) button .svg-arrow{
		stroke: var(--color-background);
	}

	footer{
		background-color: var(--color-text);
	}

	footer ul li a,
	footer p{
		color: var(--color-background);
	}

	footer> a{
		fill: var(--color-background);
	}

	footer ul a svg{
		fill: var(--color-background);
	} 
}
