/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  @font-face{
      font-family: 'koenigseggHeadings';
      src: url('../assets/fonts/koenigseggheadings-webfont.woff2') format('woff2');
  }
  
  @font-face{
      font-family: 'baselGrotesk';
      src: url('../assets/fonts/BaseGrotesk-Regular.woff2') format('woff2');
  }
  
  @font-face{
      font-family: 'gustavo';
      src: url('../assets/fonts/gustavo_trial-medium-bf65f254e1e1a08-webfont.woff2') format('woff2');
  }
  
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
      /* startje */
      --color-text:#000000;
      --color-background:#FFFFFF;
      --color-secundairy:#687c7b;
      --color-gray: #999999; 
      --color-arrow:#eee;
      --color-border: #e7b200;
      --header-height: 7em;
      --hamburger-height: 4em;
      --bun-height: .15em;
  }
  

/****************/
/* Algemene STYLING */
/****************/

  /* visually hidden van: https://www.a11yproject.com/posts/how-to-hide-content/ */
h1 {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }

h2, h3, h4, h5, h6 {
	font-family: "gustavo";
}

p, a, button {
	font-family: "baselGrotesk";
	font-size: .9em;
}

h2{
	font-size: 2.25em;
    text-transform: uppercase;
}

h3{
	font-size: 0.875em;
    text-transform: uppercase;
}



/* ************** */
/* header styling */
/* ************** */

header{
	position: fixed;
	top: 0;
	height: var(--header-height);
	width: 100%;
    z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-secundairy);
	padding: 0 2em 0 2em;
}

header button span{
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

#menu-button{
	position: fixed;
	right: 2em;
	width: 4em;
	height: var(--hamburger-height);
	z-index: 1100;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	order: 2;

	border: none;
	cursor: pointer;
}

#menu-button::before,
#menu-button::after{
	content: '';
	position: relative;
	width: 2em;
	height: var(--bun-height);
	background-color: var(--color-background);
	transition: transform 300ms ease, opacity 300ms ease;
}

#menu-button::before{
	top: -.15em;
	transform: translateY(0);
}

#menu-button::after{
	top: .15em;
	transform: translateY(0);
}


#menu-button[aria-expanded="true"]::before {
    transform: rotate(45deg) translateY(.15em);
    top: 0;
}

#menu-button[aria-expanded="true"]::after {
    transform: rotate(-45deg) translateY(-.15em);
    top: 0;
}

#menu-button[aria-expanded="true"] + nav{
	transform: translateX(0);
	overflow: scroll;
}

header nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 8em 2em 3em 2em;

	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	gap: 1em;
	align-items: start;

	background: var(--color-secundairy);
	transform: translatex(-100%);
	transition: transform 300ms ease-in-out;
    z-index: 1000;
}

nav[hidden]{
	display: none;
}
header nav ul{
    list-style: none;
	padding: 0;
	margin: 0;
}

header nav ul:nth-of-type(1){
	grid-area: 1 / 1 / 2 / 7;
	text-transform: uppercase;
	font-size: 3em;
	line-height: .8em;
}

header nav ul:nth-of-type(2){
	column-count: 2;
	grid-area: 2 / 1 / 3 / 7;
	font-size: 1em;
	line-height: 2.5em;
}

header nav ul li a{
	color: var(--color-background);
	text-decoration: none;
}

header > a svg{
	height: 2.8em;
	order: -1;
}


/* ************** */
/* Footer styling */
/* ************** */

footer{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	gap: 1em;
	padding: 3em 0em 2.5em 0em;
	margin: 0 2em 0 2em;
	color: var(--color-text);
	background-color: var(--color-background);
	font-size: 1em;
	border-top: 2px solid var(--color-gray);
}

footer a{
	font-size: .7em;
}
footer > a svg{
	height: 5em;
	grid-area: 1 / 1 / 2/ 2;
}

footer ul{
	list-style: none;
	line-height: 1.5;
	font-size: 1.5em;
}

footer ul li a{
	/* font-size: .7em; */
	text-decoration: none;
	color: var(--color-text);
}

footer ul a svg{
	height: 1.5em;
	fill: var(--color-text);
	padding-right: 1em;
}
footer ul:nth-of-type(1){
	grid-area: 1 / 3 / 1 / 5;
}

footer ul:nth-of-type(2){
	grid-area:  1 / 5 / 1 / 7;
	font-size: 1.2em;
}

footer ul:nth-of-type(3){
	display: inline-flex;
	grid-area: 2 / 1 / 2 / 7;
	padding-bottom: 1em;
	border-bottom: 2px solid var(--color-gray);
}


footer p{
	font-size: .5em;
	grid-area: 3 / 1 / 3 / 7;
	padding-bottom: 1em;
	justify-content: center;
}

footer ul:nth-of-type(4){
	font-size: .7em;
	display: flex;
	justify-content: space-between;
	margin-right: 6em;
	grid-area: 4 / 1 / 4 / 7;
}


/* **************** */
/* buttons styling */
/* **************** */
button{
	display: inline-flex;
	/* justify-content: space-between; */
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 10px ;
}

button span{
	position: relative;
	z-index: 2;
	color: var(--color-background);
} 


button .svg-arrow{
	position: relative;
	z-index: 2;
	height: 1.5em;
	padding-left: 10px;
	stroke: var(--color-background);
    animation: none;
}

button:hover .svg-arrow{
	animation: bounce-back 300ms ease-out;
}


button .svg-background{
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
	z-index: 1;
	fill:none;
}


main section{
	display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1em;
    padding: 0 2em;
}

/* the first section */
/*///////////////////*/
section:nth-of-type(1){
    padding: 11em 2em 4em;
    background-color: var(--color-secundairy);
    color: var(--color-background);
}

section:nth-of-type(1) h2{
    grid-area: 1 / 1 / 2 / 7;
    margin-bottom: 1.5em;
}

section:nth-of-type(1) p{
    grid-area: 2 / 1 / 3/ 7;
    margin-bottom: 14em;
}

section:nth-of-type(1) h3{
    grid-area: 3 / 1 / 4 /7 ;
}


/* the second section */
/*///////////////////*/
section:nth-of-type(2){
	color: var(--color-background);
	padding: 4em 2em;
	background-image: url(../images/ChristianKoenigsegg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

section:nth-of-type(2) h2{
	grid-area: 1 / 1 / 2 / 6;
	margin-bottom: 4em;
}

#video-overlay{
	grid-area: 1 / 1 / 4 / 7 ;
	position: fixed;
	top: 0;	
	left: 0;
	width: 100%;	
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

iframe{
	max-width: 90%;
	max-height: 90%;
	border: none;
}

#close-video{
	position: absolute;
	top: 2em;
	right: 2em;
	color: var(--color-background);
	cursor: pointer;
}

[hidden]{
	display: none !important;
}

section:nth-of-type(2) p{
	grid-area: 3 / 1 / 4 / 6;
}

#play-video{
	grid-area: 2 / 1 / 3 / 4;
	display: inline-flex;
	justify-content: flex-start;
	text-transform: uppercase;
	margin-bottom: 2em;
}

section:nth-of-type(2) button svg{
	height: 1em;
	stroke: var(--color-background);
	order: -1;
	padding-right: 3em;
}


/* the third section */
/*///////////////////*/
section:nth-of-type(3){
	display: flex;
	flex-direction: column;
	padding: 5em 2em;
}

section:nth-of-type(3) h2{
	grid-area: 1 / 1 / 2 / 7;
	font-size: 1.2em;
	padding-top: 3em;
	border-top: 2px solid var(--color-gray);
}

section:nth-of-type(3) p{
	margin-bottom: 1em;
}

section:nth-of-type(3) p:nth-of-type(1){
	margin-top: 3em;
}

section:nth-of-type(3) button{
	color: var(--color-text);
	grid-area: 3 / 1 / 4 / 3 ;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
}

section:nth-of-type(3) button span{
	color: var(--color-text);
}

section:nth-of-type(3) button svg{
	stroke: var(--color-text);
}


/* the fourth section */
/*///////////////////*/
section:nth-of-type(4){
	padding: 5em 2em;
}

section:nth-of-type(4) h2{
	grid-area: 3 / 1 / 4 / 7;
	margin: .5em 0 1em;
}

section:nth-of-type(4) h3{
	grid-area: 2 / 1 / 3 / 7;
}

section:nth-of-type(4) img{
	grid-area: 1 / 1 / 2 / 7;
	width: 100%;
	object-fit: cover;
	padding: 3em 0;
	border-top: 2px solid var(--color-gray);
}

section:nth-of-type(4) p:nth-of-type(1){
	grid-area: 4 / 1 / 5 / 7;
	margin-bottom: 1em;
}

section:nth-of-type(4) p:nth-of-type(2){
	grid-area: 5 / 1 / 6 / 7 ;
}

section:nth-of-type(4) button{
	width: 100%;
	color: var(--color-text);
	grid-area: 6 / 1 / 7 / 7 ;
	margin-top: 2em;
	align-self: flex-start;
}

section:nth-of-type(4) button span{
	color: var(--color-text);
}

section:nth-of-type(4) button svg{
	stroke: var(--color-text);
}


/* the fifth section */
/*///////////////////*/
section:nth-of-type(5){
	padding: 5em 2em;
}

section:nth-of-type(5) h2{
	grid-area: 2 / 1 / 3 / 7;
	margin-bottom: 4em;
}
section:nth-of-type(5) h3{
	grid-area: 1 / 1 / 2 /7;
	margin-bottom: 2em;
}

section:nth-of-type(5) h4{
	grid-area: 3 / 1 / 4 / 7;
	font-size: 1.5em;
	text-transform: uppercase;
	padding-top: 3em;
	margin-bottom: 1em;
	border-top: 2px solid var(--color-gray);
}

section:nth-of-type(5) p:nth-of-type(1){
	grid-area: 4 / 1 / 5 / 7;
	margin-bottom: 1em;
}

section:nth-of-type(5) p:nth-of-type(2){
	grid-area: 5 / 1 / 6 / 7;
}

section:nth-of-type(5) button{
	width: 100%;
	color: var(--color-text);
	grid-area: 6 / 1 / 7 / 7;
	margin-top: 2em;
	align-self: flex-start;
}

section:nth-of-type(5) button span{
	color: var(--color-text);
}

section:nth-of-type(5) button svg{
	stroke: var(--color-text);
}


/* the sixth & seventh section */
/*///////////////////*/
section:nth-of-type(6), 
section:nth-of-type(7){
	padding: 5em 2em;
}

section:nth-of-type(6) h2,
section:nth-of-type(7) h2{
	grid-area: 3 / 1 / 4 / 7;
	margin: .5em 0 1em;
}

section:nth-of-type(6) h3,
section:nth-of-type(7) h3{
	grid-area: 2 / 1 / 3 / 7;
}

section:nth-of-type(6) img,
section:nth-of-type(7) img{
	grid-area: 1 / 1 / 2 / 7;
	width: 100%;
	object-fit: cover;
	padding: 3em 0;
	border-top: 2px solid var(--color-gray);
}

section:nth-of-type(6) p:nth-of-type(1),
section:nth-of-type(7) p:nth-of-type(1){
	grid-area: 4 / 1 / 5 / 7;
	margin-bottom: 1em;
}

section:nth-of-type(6) p:nth-of-type(2),
section:nth-of-type(7) p:nth-of-type(2){
	grid-area: 5 / 1 / 6 / 7 ;
	margin-bottom: 1em;
}

section:nth-of-type(6) p:nth-of-type(3),
section:nth-of-type(7) p:nth-of-type(3){
	grid-area: 6 / 1 / 7 / 7 ;
}

section:nth-of-type(6) button{
	width: 100%;
	color: var(--color-text);
	grid-area: 7 / 1 / 8 / 7 ;
	margin-top: 2em;
	align-self: flex-start;
}

section:nth-of-type(6) button span{
	color: var(--color-text);
}

section:nth-of-type(6) button svg{
	stroke: var(--color-text);
}


/* the 8th section */
/*///////////////////*/
section:nth-of-type(8) h2{
	grid-area: 1 / 1 / 2 / 7;
	font-size: 1.5em;
	margin-bottom: 1em;
}

section:nth-of-type(8){
	position: relative;
}
section:nth-of-type(8) a{
	position: relative;
	display: block;
	text-decoration: none;
	color: var(--color-background);
	text-transform: uppercase;
	animation: none;
}

section:nth-of-type(8) a:hover span{
	padding: 0 13em .5em 0;
}
section:nth-of-type(8) a:nth-of-type(1){
	grid-area: 2 / 1 / 3 / 7;
	margin-bottom: 1.5em;
}

section:nth-of-type(8) a:nth-of-type(2){
	grid-area: 3 / 1 / 4 / 7;
	margin-bottom: 5em;
}

section:nth-of-type(8) a span{
	position: absolute;
	left: 2em;
	bottom: 2em;
	margin-left: 2em;
	padding: 0 13em 1em 0;
	border-bottom: 2px solid var(--color-background);
}

section:nth-of-type(8) img{
	width: 100%;
	object-fit: cover;
	display: block;
}

section:nth-of-type(8) img::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.1);
pointer-events:none ;
}



/* **************/
/* Media querys */
/* **************/

@media (min-width: 768px){
	
	p, a, button {
		
		font-size: 1em;
	}

	header a{
		font-size: .8em;
	}

	section:nth-of-type(1) p{
		grid-area: 2 / 1 / 3/ 5;
		margin-bottom: 10em;
	}

	section:nth-of-type(2) h2{
		grid-area: 1 / 1 / 2 / 5;
		
	}

	section:nth-of-type(3) h2{
		width: 30%;
	}

	section:nth-of-type(4) h2{
		grid-area: 3 / 1 / 4 / 3;
		
	}

	section:nth-of-type(5) h4{
		grid-area: 3 / 1 / 4 / 3;
	}

	section:nth-of-type(6) h2,
	section:nth-of-type(7) h2{
	grid-area: 3 / 1 / 4 / 4;
	margin: .5em 0 1em;
	}
}

@media (min-width: 1024px){
	main section{
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 1em;
		padding: 0 2em;
	}


	/* the first section */
	/*///////////////////*/

	section:nth-of-type(1) p{
		grid-area: 2 / 8 / 3/ 13;
		margin-bottom: 14em;
	}
	
	section:nth-of-type(1) h3{
		grid-area: 3 / 8 / 4 / 13 ;
	}


	/* the second section */
/*///////////////////*/


	section:nth-of-type(2) h2{
		grid-area: 1 / 2 / 2 / 8;
		margin-bottom: 4em;
	}

	
	section:nth-of-type(2) p{
		grid-area: 3 / 8 / 4 / 12;
	}

	section:nth-of-type(2) button{
		grid-area: 2 / 7 / 3 / 10;
		
	}

	/* the third section */
	/*///////////////////*/
	section:nth-of-type(3){
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 1em;
		padding: 4em 2em;
	}

	section:nth-of-type(3) h2{
		grid-area: 1 / 2 / 2 / 11;
	}

	section:nth-of-type(3) p:nth-of-type(1){
		grid-area: 1 / 8 / 2 / 12;
	}

	section:nth-of-type(3) p:nth-of-type(2){
		grid-area: 2 / 8 / 3 / 12;
	}

	section:nth-of-type(3) p:nth-of-type(3){
		grid-area: 3 / 8 / 4 / 12;
	}

	section:nth-of-type(3) button{
		grid-area: 4 / 8 / 5 / 12;
	}

	
	/* the fourth section */
	/*///////////////////*/

	section:nth-of-type(4){
		border-bottom: 2px solid var(--color-gray);
	}
	section:nth-of-type(4) h2{
		grid-area: 1 / 2 / 2 / 7;
		margin: .5em 0 1em;
		padding-top: 2em;
		border-top: 2px solid var(--color-gray);
	}

	section:nth-of-type(4) h3{
		grid-area: 1 / 8 / 2 / 13;
	}

	section:nth-of-type(4) img{
		grid-area: 1 / 8 / 4 / 13;
		border-top: none;
		padding: 0;
		height: 80%;
		margin-top: auto;
	}

	section:nth-of-type(4) p:nth-of-type(1){
		grid-area: 2 / 2 / 3 / 6;
		margin:0;
	}

	section:nth-of-type(4) p:nth-of-type(2){
		grid-area: 3 / 2 / 4 / 6 ;
		margin: 0;
	}

	section:nth-of-type(4) button{
		grid-area: 3 / 2 / 4 / 7 ;
		margin-top: 12em;
	}


	/* the fifth section */
	/*///////////////////*/
	section:nth-of-type(5) h2{
		grid-area: 2 / 2 / 3 / 12;
		font-size: 5em;
		margin: 0;
		padding-bottom: 1em;
		border-bottom: 2px solid var(--color-gray);
	}
	section:nth-of-type(5) h3{
		grid-area: 1 / 9 / 2 / 13;
		margin-bottom: 2em;
	}

	section:nth-of-type(5) h4{
		grid-area: 3 / 2 / 4 / 5;
		text-transform: uppercase;
		margin-top: 2em;
		padding: 0em;
		margin-bottom: 1em;
		border-top: none;
	}
	
	section:nth-of-type(5) p:nth-of-type(1){
		grid-area: 3 / 8 / 4 / 13;
		margin-top: 2em;
		margin-bottom: 1em;
	}
	
	section:nth-of-type(5) p:nth-of-type(2){
		grid-area: 4 / 8 / 5 / 13;
	}
	
	section:nth-of-type(5) button{
		grid-area: 5 / 8 / 6 / 13;
	}


	/* the sixth section */
	/*///////////////////*/
	section:nth-of-type(6){
		border-bottom: 2px solid var(--color-gray);
	}
	section:nth-of-type(6) h2{
		grid-area: 1 / 2 / 2 / 7;
		margin: .5em 0 1em;
		padding-top: 2em;
		border-top: 2px solid var(--color-gray);
	}

	section:nth-of-type(6) h3{
		grid-area: 1 / 8 / 2 / 13;
		margin-top: 6em;
	}

	section:nth-of-type(6) img{
		grid-area: 2 / 8 / 5 / 13;
		border-top: none;
		padding: 0;
		height: 80%;
		margin-top: auto;
	}

	section:nth-of-type(6) p:nth-of-type(1){
		grid-area: 2 / 2 / 3 / 6;
		margin: 0 0 1em 0;
	}

	section:nth-of-type(6) p:nth-of-type(2){
		grid-area: 3 / 2 / 4 / 6 ;
		margin: 0 0 1em 0;
	}

	section:nth-of-type(6) p:nth-of-type(3){
		grid-area: 4 / 2 / 5 / 6 ;
		margin: 0 0 1em 0;
	}

	section:nth-of-type(6) button{
		grid-area: 5 / 2 / 6 / 7 ;
		margin-top: auto;
	}
	

	/* the 7th section */
	/*///////////////////*/
	section:nth-of-type(7){
		border-bottom: 2px solid var(--color-gray);
		padding-top: 0;
	}
	section:nth-of-type(7) h2{
		grid-area: 1 / 8 / 2 / 13;
		margin: -.1em 0 1em;
		padding-top: 2em;
		border-top: 2px solid var(--color-gray);
	}

	section:nth-of-type(7) h3{
		grid-area: 1 / 4 / 6 / 13;
		margin-top: 6em;
	}

	section:nth-of-type(7) img{
		grid-area: 2 / 1 / 5 / 6;
		border-top: none;
		padding: 0;
		height: 80%;
		margin-top: 2em;
	}

	section:nth-of-type(7) p:nth-of-type(1){
		grid-area: 2 / 8 / 3 / 12;
		margin: 0 0 1em 0;
	}

	section:nth-of-type(7) p:nth-of-type(2){
		grid-area: 3 / 8 / 4 / 12 ;
		margin: 0 0 1em 0;
	}

	section:nth-of-type(7) p:nth-of-type(3){
		grid-area: 4 / 8 / 5 / 12 ;
		margin: 0 0 1em 0;
	}


	/* the 8th section */
	/*/////////////////*/
	section:nth-of-type(8) h2{
		grid-area: 1 / 8 / 2 / 13;
		margin-top: 1em;
	}

	section:nth-of-type(8) a:nth-of-type(1){
		grid-area: 2 / 8 / 3 / 13;
	}

	section:nth-of-type(8) a:nth-of-type(2){
		grid-area: 2 / 3 / 3 / 8;
	}

	section:nth-of-type(8) a:nth-of-type(1) span{
		position: absolute;
		left: 1em;
		bottom: 7em;
		margin-left: 1em;
		padding: 0 12em 1em 0;
	}

	section:nth-of-type(8) a:nth-of-type(2) span{
		position: absolute;
		left: 1em;
		bottom: 3.5em;
		margin-left: 1em;
		padding: 0 9em 1em 0;
	}


	footer{
		margin: 0 9em;
	}

	footer ul:nth-of-type(4){
		margin: 0 0 0 10em;
        grid-area: 3 / 4 / 4 / end;
		justify-content: space-around;
	}
}